.header {
    height: 60px;
    background-color: #1e293b;
    color: white;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0 20px;

    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

/* partie gauche */
.left {
    display: flex;
    align-items: center;
    gap: 15px;
}

/* bouton menu */
.menuBtn {
    font-size: 22px;
    background: none;
    border: none;
    color: white;
    cursor: pointer;

    padding: 5px 10px;
    border-radius: 5px;

    transition: background 0.2s;
}

.menuBtn:hover {
    background-color: rgba(255,255,255,0.1);
}

/* titre */
.logo {
    font-size: 20px;
    font-weight: 600;
    margin: 0;
}

/* avatar */
.avatar {
    width: 35px;
    height: 35px;

    background-color: #3b82f6;
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;

    font-weight: bold;
    font-size: 14px;

    cursor: pointer;

    transition: transform 0.2s;
}

.avatar:hover {
    transform: scale(1.1);
}